.strikethrough {
    text-decoration: line-through black wavy;
  }

.box {
    text-align: center;
}

input[type="checkbox"] {
    transform:scale(2.5, 2.5);
  }

.header {
    background-color: teal;
    color: white;
    padding: 1rem;
    margin-bottom: 0rem;
}

h1 {
    font-size: 72px;
}

#submitArea {
    text-align: center;
    margin: 10px;
}

td {
    text-align: center;
}

.task {
    text-align: left;
    width: 80%;
}

.editIn {
    width: 100%;
}