.strikethrough {
    text-decoration: line-through black solid;
  }

.box {
    text-align: center;
}

input[type="checkbox"] {
    transform:scale(2, 2);
  }

.header {
    background-color: teal;
    color: white;
    padding: 1rem;
    margin-bottom: 0rem;
}

h1 {
    font-size: 72px;
}

#submitArea {
    text-align: center;
    margin: 10px;
}

td {
    text-align: center;
    height: 55px;
    vertical-align: middle;
}

.task {
    text-align: left;
    width: 80%;
}

.editIn {
    width: 100%;
}

#quoteCard {
    color: teal;
    text-align: center;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#taskIn {
    width: 50%;
}